@use '../variables' as *;
@use '../mixins' as *;

.btn {
  @include button-base;
  padding: $spacing-3 $spacing-4;
  border-radius: $radius-md;
  font-size: $text-sm;
  
  &--primary {
    @include button-primary;
  }
  
  &--secondary {
    @include button-secondary;
  }
  
  &--ghost {
    @include button-ghost;
  }
  
  &--danger {
    background: $error;
    color: $text-primary;
    
    &:hover:not(:disabled) {
      background: lighten($error, 10%);
    }
  }
  
  &--sm {
    padding: $spacing-2 $spacing-3;
    font-size: $text-xs;
  }
  
  &--lg {
    padding: $spacing-4 $spacing-6;
    font-size: $text-base;
  }
  
  &--full {
    width: 100%;
  }
  
  &--icon {
    padding: $spacing-2;
    border-radius: $radius-full;
    
    &.btn--sm {
      padding: $spacing-1;
    }
    
    &.btn--lg {
      padding: $spacing-3;
    }
  }
}

