@use '../variables' as *;
@use '../mixins' as *;

.watch-page {
  display: grid;
  gap: $spacing-6;
  
  @include xl {
    grid-template-columns: 1fr 400px;
  }
}

.watch-main {
  &__video {
    margin-bottom: $spacing-4;
  }
  
  &__info {
    margin-bottom: $spacing-4;
  }
  
  &__title {
    font-size: $text-xl;
    font-weight: $font-semibold;
    margin-bottom: $spacing-2;
  }
  
  &__meta {
    @include flex-between;
    flex-wrap: wrap;
    gap: $spacing-4;
  }
  
  &__stats {
    font-size: $text-sm;
    color: $text-secondary;
  }
  
  &__actions {
    @include flex-start;
    gap: $spacing-2;
  }
}

.watch-channel {
  @include flex-between;
  padding: $spacing-4;
  @include card;
  margin-bottom: $spacing-4;
  
  &__info {
    @include flex-start;
    gap: $spacing-3;
  }
  
  &__details {
    h4 {
      font-size: $text-base;
      margin-bottom: $spacing-1;
    }
    
    span {
      font-size: $text-sm;
      color: $text-secondary;
    }
  }
}

.watch-description {
  @include card;
  padding: $spacing-4;
  
  &__content {
    font-size: $text-sm;
    color: $text-secondary;
    white-space: pre-wrap;
    
    &--expanded {
      max-height: none;
    }
    
    &:not(&--expanded) {
      @include line-clamp(3);
    }
  }
  
  &__toggle {
    @include button-ghost;
    margin-top: $spacing-2;
    padding: $spacing-1 0;
    font-size: $text-sm;
    color: $text-secondary;
  }
}

